@inject HttpClient http

<EditForm Model="@Dish" OnValidSubmit="@OnSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div class="form-group">
            <label for="name">Name:</label>
            <div>
                <InputText id="name" @bind-Value="@Dish.Name" />
                <ValidationMessage For="@(() => Dish.Name)" />
            </div>
        </div>
        <div class="form-group">
            <label for="type">Category:</label>
            <div>
                <InputSelect id="type" @bind-Value="@Dish.TypeId">
                    @foreach (var type in types)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Dish.TypeId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div>
                <InputText @bind-Value="@Dish.Description" />
                <ValidationMessage For="@(() => Dish.Description)" />
            </div>
        </div>
        <div class="form-group">
            <label>Price:</label>
            <div>
                <InputNumber @bind-Value="@Dish.Price" />
                <ValidationMessage For="@(() => Dish.Price)" />
            </div>
        </div>
        <div class="form-group">
            <label>Portion:</label>
            <div>
                <InputNumber @bind-Value="@Dish.PortionSize" />
                <ValidationMessage For="@(() => Dish.PortionSize)" />
            </div>
        </div>
        <div class="form-group">
            <label>Estimated Cooking Time:</label>
            <div>
                <InputNumber @bind-Value="@Dish.CookingTime" />
            </div>
        </div>
        <div class="form-group">
            <label>Unit:</label>
            <div>
                <InputSelect @bind-Value="@Dish.UnitId">
                    @foreach (var unit in units)
                    {
                        <option value="@unit.Id">@unit.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Dish.UnitId)" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-info">Save</button>

</EditForm>

@code {
    [Parameter] public Dish Dish { get; set; }
    [Parameter] public EventCallback OnSubmit { get; set; }

    private List<NamedEntity> types = new List<NamedEntity>();
    private List<NamedEntity> units = new List<NamedEntity>();

    protected override async Task OnInitializedAsync()
    {
        await LoadTypes();
        await LoadUnits();
    }

    private async Task LoadTypes()
    {
        var response = await http.GetAsync("api/org/types");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            types = JsonSerializer.Deserialize<List<NamedEntity>>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        }
    }

    private async Task LoadUnits()
    {
        var response = await http.GetAsync("api/org/units");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            units = JsonSerializer.Deserialize<List<NamedEntity>>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        }
    }
}
